@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Pretendard-Regular;
  background-color: #7FC2FF;
}

header {
  width: 100%;
  height: 70px;
}

.logo {
  width: 80px;
  height: 60px;
  background: url(../images/logo.png) no-repeat center;
  background-size: cover;
  margin: 10px 0 0 10px;
}

main {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todayBlock {
  width: 80%;
  height: 300px;
  background-color: #F3F3F3;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 3px 3px 3px gray;
}

.day {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #EFFA92;
  font-size: 30px;
  color: #5B5B5B;
}

.contents {
  height: 250px;
  line-height: 250px;
  text-align: center;
  font-size: 30px;
  color: #5B5B5B;
}

footer {
  width: 100%;
  height: 60px;
}

.menu {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  background-color: #F3F3F3;
  float: right;
  margin-right: 40px;
  box-shadow: 2px 2px 2px gray;
  text-align: center;
  font-size: 40px;
  color: #5B5B5B;
  cursor : pointer;
}

.menuPop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
  display: none;
}

.popBody {
  width: 82%;
  height: 60%;
  background-color: #E4E4E4;
  border-radius: 15px;
  position: relative;
}

.quit {
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  right: 12px;
  top: 12px;
  text-align: center;
  font-size: 30px;
  color: #5B5B5B;
  cursor: pointer;
}

.popMain {
  height: 300px;
  margin-top: 50px;
}
.popMain > p {
  font-size: 18px;
  color: #333;
  padding: 20px 20px 5px 20px;
}

.links {
  margin-top: 200px;
  display: flex;
  padding-left: 20px;
}

.links li {
  list-style: none;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 5px;
}

.links li:first-child {
  background: url(../images/github.png) no-repeat center;
  background-size: cover;
}

.links li:nth-child(2) {
  background: url(../images/velog.png) no-repeat center;
  background-size: cover;
}

.links li:last-child {
  background: url(../images/brunch.png) no-repeat center;
  background-size: cover;
}